* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container-nav{
  display: grid;
  gap: 1rem;
  grid-auto-rows: repeat(auto-fill, minmax(15rem, 1fr));
}
.container-nav .logoname {
  font-size: 50px;
  position: fixed;
}
.nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  gap: 15px;
  position: fixed;
  top: 0;
  right: 0;
  list-style: none;
  margin-top: 20px;
}
.nav-bar a {
  color: #090909;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}
.nav-bar a:hover{
  background-color: rgb(252, 150, 150);
  border-radius: 25px;
  color: aliceblue;
  transition: 0.3s ease;
}
.container-nav .logoname {
  grid-area: 1 / 1 / 2 / 2;
}
.photoDenis-1{
  height: 400px;
  width: 300px;
}
.container-main{
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.photoDenis-1{
  grid-area: 1 /1 / 2 / 3;
  align-content: center;
}
.name{
  grid-area: 1 / 2 / 2/ 3;
}
.aboutme {
  grid-area: 2 / 2 / 2/ 3;
}