* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'DM Sans', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
}
.container-nav{
  display: grid;
  grid-template-rows: repeat(1 3fr);
  grid-template-columns: repeat(2, 1fr);
}
.container-nav .logoname {
  font-size: 3.125rem;
}
.nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  place-items: center;
  list-style: none;
  font-weight: 500;
}
.logoname a{
  text-decoration: none;
  color: #090909;
}
.nav-bar a {
  color: #090909;
  font-size: 28px;
  text-decoration: none;
  text-align: center;
  padding: 0px;
}
.nav-bar a:hover{
  background-color: rgb(252, 150, 150);
  border-radius: 25px;
  color: aliceblue;
  transition: 0.3s ease;
}
.container-nav .logoname {
  grid-area: 1 / 1 / 2 / 2;
}
.photoDenis-1{
    height: 37.5rem;
    width: 25rem;
    object-fit: contain;
}
.name{
  font-size: 70px;
}
.aboutme{
  font-size: 30px;
  font-weight: 100;
}
#container-main {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-auto-rows: 700px;
 place-items: center;
}
.info{
  justify-self: start;
}
.social-media{
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(1, 1fr);
  place-items: center;
}
.social-media_container{
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 2.5rem;
justify-self: start;
}
.social-media__red{
  height: 50px;
  width: 50px;
}
#portafolio-main{
  display: none;
}
#aboutme-main{
  display: none;
}
#contacto-main{
  display: none;
}
/* #container-main{
  display: none;
} */
#portafolio-main{
  gap: 10px;
  width: 100%;
  height: 80vh;
}
.card{
  display: grid;
  grid-template-rows: repeat(2fr 1fr 2fr);
  grid-template-columns: 1fr;
  background-color: coral;
  justify-items: center;
}
.parrfo-trivia{
  font-size: 2rem;
}
.lenguajes {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 justify-items: center;
}
#aboutme-main{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 700px;
  justify-items: center;
}